<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/TeodoraEvtimova/IdeaProjects/APiDemoSIte">
        <classes>
            <class name="Tests.GetEmployees">
                <methods>
                    <include name="testGetEmployees"/>
                </methods>
            </class>
            <class name="Tests.CreateEmployee">
                <methods>
                    <include name="testCreateEmployee"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>